/*  */
/* Configurações Gerais */

:root {
    --mainColorBG: #F0F7FA;
    --mainColorBGContent: #fff;
    --mainColor: #0D3444;
    --secundaryColor: #CCE8F5;
    --tercearyColor: #99D2EA;
    --fontColor: #000;
    --fontColorida: #0D3444;
    --fontPadrao: 'Inter', sans-serif;
    --imagemlogo: url(/images/logo_traveller_fundo_transparente.png);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');


body {
    background-color: var(--mainColorBGContent);
    font-family: var(--fontPadrao);
    color: var(--fontColorida);
}


a {
    text-decoration: none;
    color: var(--mainColorBG);
    font-family: var(--fontPadrao);
    background-color: var(--mainColor);
}

/*Fim- Configurações Gerais */


/* Início do container principal e main container */

.container {
    /* height: 770px; */
    width: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
}


.main-container {
    background-color: var(--mainColorBGContent);
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    align-items: center;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: 5%
}


.textos {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Fim do container principal side bar e main container */


/* fim Internal page */

.footer_principal {
    text-align: center;
    margin: 50px;
}

/* Botão */
.botao {
    background-color: #0D3445;
    width: 15em;
    color: #FFFFFF;
    border-radius: 10px;
    height: 3em;
    margin: 20px 20px 20px 20px;
    cursor: pointer;

}

.botao:hover {
    background-color: #99D2EA;
    color: #0D3444;
    text-decoration: none;
}


/* Fim Botão*/


.teste {
    background-color: var(--mainColor);
}


.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


.tarja_dados {
    color: var(--mainColorBGContent);
    background-color: var(--mainColor)
}

.logo {
    width: 20%;
}


.form-control {
    width: fit-content;
    text-align: center;

}

.titulos {
    font-size: 18px;
    margin-top: 20px;
}